
.check-true,.check-false{
    width: 30px;
    height: 30px;
}

.item-c-content{
    height: 254px;
    margin:20px;
    border:solid;
    border-color: #c4c4c4 ;
    border-radius: 5px;
    background-color: white;

}
.content-ad-annonce{
    display: flex;
    flex-direction: row;
    flex-flow: row  ;
    align-items: center;
    height: 100%;
    width: 100%;
}
.div-img-annonce{
    height: 100%;
}
.img-annonce{
    margin-right: 20px;
    height: 100%;
    width: 250px;
    border-radius: 5px;
}
a{
    color: black;
}
h1{
    margin-left: 20px;
    color :#fc6c15;
}
h2{
    color: #414040;
}
h2:hover{
    color : #ee894a;
}
h3{
    color: #ee894a;
    font-weight:normal;
}
.desc-ad{
    width: 100%;
}
.annonce-active{
    display: flex;
    flex-flow: row;
    margin-top: -20px;
    margin-bottom: -30px;
}
.active-price{
   float: right;
    margin-right: 20px;
    color:#565555;

}
.pagination{
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.step {
    padding: 10px;
    color: black;
    text-decoration: none;
    transition: background-color .3s;
}
.step:hover{
    color:#fc6c15;
}
.nextLink {
    padding: 15px;
    color: white;
    text-decoration: none;
    transition: background-color .3s;
    background-color: #ee894a;
}

.prevLink {
    padding: 15px;
    color: white;
    text-decoration: none;
    transition: background-color .3s;
    background-color: #ee894a;
}

.currentStep {
    padding: 10px;
   color: #ee894a;

}

.step.gap {
    display: none;
}

@media screen and (min-width: 320px){
    #list-annonce{
        display: flex;
        flex-direction: row;
        flex-flow: row wrap;
    }
    .item-c-content{
        width: 850px;
    }
}
@media only screen and (min-width: 320px) and (max-width: 980px) {
    h1{
        font-size:25px ;
    }
    #list-annonce{
        display: flex;
        flex-direction: column;
    }
    .item-c-content{
        width: 85%;
    }
    .content-ad-annonce{
        height: 100%;
        width: 100%;
    }

    .img-annonce{
        width: 100%;
    }
    .desc-ad{
        margin-left: 5%;
    }

    .pagination{
        font-size: 15px;
    }


    .step {
        padding: 5px;
    }
    .step:hover{
        color:#fc6c15;
    }
    .nextLink {
        padding: 10px;
    }

    .prevLink {
        padding: 10px;
    }

    .currentStep {
        padding: 5px;
    }
}